@charset "UTF-8";
/* mixins können wir immer wieder verwenden, helfer-Klassen */
/***** All Variable Declarations Go Here ******/
/* 1. COLORS        */
/* 2. GRID LAYOUT   */
/* 3. FONT-SIZE     */
/*********** 1. COLORS ***********/
/********** 2. GRID LAYOUT **********/
/************ 3. FONT-SIZE **********/
/********* KEYFRAMES, ANIMATION DEFINITIONS GO HERE *****/
@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.9;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.9;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* @keyframes buttonUp {
    0% {
        transform: translateY(-3px);        
    }
    100% {
        transform: translateY(-3px);
    }
} */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Force die box-sizing vererbbar zu werden */ }

html {
  font-size: 62.5%;
  /* 62% der eingestellten Default-Root-Size, die der Nutzer auf dem Rechner eingestellt hat */ }

body {
  box-sizing: border-box; }

/**** ALL FONT-RELATED CODE GOES HERE *******/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* eigentlich dazu da bei ner rotation eines Obkekts den Hintergrund zu verstecken -  */
  /* Animationen können - warum auch immer - manchmal leicht wackeln, sich schuetteln */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveToLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    /* animation-name: moveToRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
    animation: moveToRight 1s ease-out;
    /* kuerz die Drei einfach ab schnubbie */
    margin-bottom: 6rem; }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700px;
  background-image: linear-gradient(to right, #e75480, #28b485);
  background-clip: text;
  /* clip text-background to text */
  -webkit-background-clip: text;
  color: transparent;
  /* make text transparent for the bg */
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(3deg); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* Utilitie Classes (helper classes) has only one simple goal */
.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-big-advanced {
  margin-bottom: 10rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  animation: moveInButton 0.4s ease-out .75s;
  animation-fill-mode: backwards;
  font-size: 1.6rem; }

.btn:hover {
  /* firefox flickern lösungsmöglichkeiten:
        filter: grayscale(0%); 
        -moz-transform: translateY(-5px) rotate(0.02deg);
        backface-visibility: hidden;
        or will-change: transform; into .btn parent-container for pre-rendering;
        ODER: niemals transformation ohne startwerte also immer mit keyframes!
        */
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  /* weil du immernoch weiterhoverst nachdem du gedrückt hast solltest du nur einen kleinen schritt nach unten machen */
  box-shadow: 0 0.5rem 0.1rem 0 rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem); }

.btn--white {
  background-color: #FFF;
  color: #777; }
  .btn--white::after {
    background-color: #FFF; }

.btn--green {
  background-color: #e75480;
  color: #FFF; }
  .btn--green::after {
    background-color: #e75480; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #e75480;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #e75480;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #e75480;
  color: #FFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  background-color: #e75480;
  color: #FFF;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s linear;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-1.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      outline: 1.5rem solid #28b485; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.5s linear; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #e75480, #28b485);
    background-clip: text;
    /* clip text-background to text */
    -webkit-background-clip: text;
    color: transparent;
    /* make text transparent for the bg */ }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.1);
    cursor: pointer; }

.card {
  perspective: 60rem;
  -moz-perspective: 60rem;
  position: relative;
  height: 52rem;
  /* avoid position collapse with giving height to card and to card__side */ }
  .card__side {
    color: #777;
    font-size: 2rem;
    transition: all .6s linear;
    position: absolute;
    top: 0;
    left: 0;
    height: 52rem;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #FFF; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffdd39, #fc8500);
        background-size: cover;
        background-position: top; }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #e75480, #702ba1);
        background-size: cover;
        background-position: top; }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #00f2b5, #0a3971);
        background-size: cover;
        background-position: top; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 221, 57, 0.5), rgba(252, 133, 0, 0.5)), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(231, 84, 128, 0.5), rgba(112, 43, 161, 0.5)), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 242, 181, 0.5), rgba(10, 57, 113, 0.5)), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFF;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 55%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 221, 57, 0.95), rgba(252, 133, 0, 0.95)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(231, 84, 128, 0.95), rgba(112, 43, 161, 0.95)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 242, 181, 0.95), rgba(10, 57, 113, 0.95)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      font-size: 1.5rem;
      padding: 1rem;
      text-align: center; }
      .card__details li:not(:last-child) {
        border-bottom: 1px solid #bbbbbb; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .card__price-box {
    text-align: center;
    color: #FFF; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 8rem; }

.story {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 5rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skew(-12deg); }
  .story:last-child {
    margin-bottom: 0; }
  .story > * {
    transform: skew(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: purple;
    shape-outside: circle(40% at 50% 50%);
    -webkit-shape-outside: circle(40% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-5rem) skew(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-17%) scale(1.4);
    transition: all .4s linear; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .4s linear;
    backface-visibility: hidden;
    /* backface-visibility fixes every graphical glitches */ }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-17%) scale(1);
    filter: blur(3px) brightness(60%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  overflow: hidden;
  /* overflow hidden funktioniert auch alleine, aber folgende moeglichkeit ist sauberer */ }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* image covers the parent element */ }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
  .form__input:invalid {
    border: none;
    box-shadow: none;
    border-bottom: 3px solid transparent; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #FC8500; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 12rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 18rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 12rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 18rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 18rem) / 4) + 12rem); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(231, 84, 128, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* nimmt zwei werte, der zweite wert ist undeklariert automatisch center, responsive wird rechts und links etwas entnommen */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* specific, not reusable code */
.section-about {
  background-color: #F7F7F7;
  padding: 25rem 0;
  margin-top: -20vh;
  /* Its the 95vh polygon - the missing 20vh */ }

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(231, 84, 128, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  /* select only next one child */ }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #F7F7F7;
  padding: 25rem 0 5rem 0;
  margin-top: -10rem; }

.section-stories {
  padding: 5rem 0 15rem 0;
  position: relative; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #e75480, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0) 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  height: 50rem; }
  .book__form {
    padding: 5rem;
    width: 50%; }
