*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* Force die box-sizing vererbbar zu werden */
}

html {
    // defines what 1 rem is 
    font-size: 62.5%; /* 62% der eingestellten Default-Root-Size, die der Nutzer auf dem Rechner eingestellt hat */ 
}

body {
    box-sizing: border-box;
}