/**** ALL FONT-RELATED CODE GOES HERE *******/

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /* eigentlich dazu da bei ner rotation eines Obkekts den Hintergrund zu verstecken -  */
                                    /* Animationen können - warum auch immer - manchmal leicht wackeln, sich schuetteln */
                                     
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveToLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

            @include respond(phone) {
                letter-spacing: 1rem;
                font-size: 5rem;       
            }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
        /* animation-name: moveToRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
        animation: moveToRight 1s ease-out; /* kuerz die Drei einfach ab schnubbie */
        margin-bottom: 6rem;

        @include respond(phone) {
            letter-spacing: .5rem;
            font-size: 3rem;       
        }
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700px;
    background-image: linear-gradient(to right, $color-pri-light, $color-pri-dark);
    background-clip: text;  /* clip text-background to text */
    -webkit-background-clip: text;
    color: transparent; /* make text transparent for the bg */
    transition: all .2s;

    @include respond(port) {
        font-size: 2.7rem;       
    }

    @include respond(port) {
        font-size: 2.1rem;       
    }

    &:hover {
        transform: skewY(2deg) skewX(3deg);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}