.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        cursor: pointer;
        z-index: 2000;
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);
        text-align: center;

        @include respond(port) {
            top: 3rem;
            right: 3rem; 
        }
    }

    &__background {
        z-index: 1000;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;  //position fixed is totaly same as absolute, but dont change position when scrolling the page
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-pri-light, $color-pri-dark);  //radial starts in the middle of an element
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(port) {
            top: 3.3rem;
            right: 3.3rem; 
        }
    }
    
    
    &__list {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
    }
    
    &__item {
        margin: 1rem;
        
    }
    
    &__link {
        
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            //transparent plus opacity plus nice bg img makes really nice black white effekts
            background-image: linear-gradient(120deg, transparent 0%,
            transparent 50%,
            rgba(white, 0.8) 50%);
            background-size: 220%;
            transition: all 0.5s;
            
            span {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }
        
        &:hover, 
        &:active {
            background-position: 100%;
            color: $color-pri-light;
            transform: translateX(1rem);
            
        }
    }
    
    &__checkbox:checked ~ &__background {
        transform: scale(70);   
    }
    
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
    
    
    &__nav {
        z-index: 1500;
        height: 100vh;
        position: fixed;  // mit height 100vh und position: fixed sorgst du dafür, dass es aussieht als würdest du eine neue seite öffnen
        top: 0;
        right: 0;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    

    &__icon {
        position: relative;
        margin-top: 3.5rem;
        
        &,
        &::before,
        &::after {
            
            display: inline-block;
            width: 3rem;
            height: .2rem;
            background-color: $color-grey-dark;
        }
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;            
        }
        
        &::before {
            top: -1rem;
        }
        
        &::after {
            top: 1rem;
        }
    }

    &__button:hover &__icon::before {
        //transform-origin: center; // interesting concept
        top: -1.1rem;
    }

    &__button:hover &__icon::after {
        top: 1.1rem;
    }

    // make the icon in the middle invisible
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(135deg);
        transition: all .3s;
        top: 0;
    }

    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(-135deg);
        transition: all .3s;
        top: 0;

    }
    
}