/***** All Variable Declarations Go Here ******/

/* 1. COLORS */


/******** COLORS ********/

//$color-pri-light: #7ed56f;
$color-pri-light: #e75480;
$color-pri-mid: #55c57a;
$color-pri-dark: #28b485;
$color-grey-dark: #777;
$color-white: #FFF;
$color-black: #000;