/***** All Variable Declarations Go Here ******/

/* 1. COLORS        */
/* 2. GRID LAYOUT   */
/* 3. FONT-SIZE     */


/*********** 1. COLORS ***********/

//$color-pri-light: #7ed56f;
$color-pri-light: #e75480;
$color-pri-mid: #55c57a;
$color-pri-dark: #28b485;

//$color-sec-light:
$color-sec-1-light: #FFDD39;
$color-sec-1-dark: #FC8500;
$color-sec-2-light: #F124AE;
$color-sec-2-dark: #702BA1;
$color-sec-3-light: #00F2B5;
$color-sec-3-dark: #0A3971;

$color-grey-light-1: #F7F7F7;
$color-grey-middle: rgb(187, 187, 187);
$color-grey-dark: #777;
$color-grey-nine: #999;

$color-white: #FFF;
$color-black: #000;


/********** 2. GRID LAYOUT **********/

$grid-width: 114rem;        // 1140 is CSS Standard
$gutter-vertical: 8rem;     // space between row, till other row
$gutter-horizontal: 6rem;    // space between columns


/************ 3. FONT-SIZE **********/

$default-font-size: 1.6rem;
